apiVersion: v2
name: gitlab
version: 9.8.2-bb.0
appVersion: 18.8.2
description: GitLab is the most comprehensive AI-powered DevSecOps Platform.
keywords:
- gitlab
home: https://about.gitlab.com/
icon: https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.png
sources:
- https://gitlab.com/gitlab-org/charts/gitlab
dependencies:
- name: bb-common
  version: 0.13.0
  repository: oci://registry1.dso.mil/bigbang
- name: gitlab
  version: 9.8.2
  repository: https://charts.gitlab.io
  alias: upstream
- name: gluon
  version: "0.9.7"
  repository: "oci://registry1.dso.mil/bigbang"
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Gitlab: 18.8.2
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    The [upstream chart's release notes](https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/CHANGELOG.md) may help when reviewing this package.
  helm.sh/images: |
    - name: redis-exporter
      condition: upstream.redis.metrics.enabled
      image: registry1.dso.mil/ironbank/bitnami/analytics/redis-exporter:v1.80.1
    - name: redis
      condition: upstream.redis.install
      image: registry1.dso.mil/ironbank/bitnami/redis:8.4.0
    - name: alpine-certificates
      image: registry1.dso.mil/ironbank/gitlab/gitlab/certificates:18.8.2
    - name: cfssl-self-sign
      condition: upstream.shared-secrets.enabled
      image: registry1.dso.mil/ironbank/gitlab/gitlab/cfssl-self-sign:1.6.1
    - name: gitaly
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitaly:18.8.2
    - name: gitlab-container-registry
      condition: upstream.registry.enabled
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-container-registry:18.8.2
    - name: gitlab-shell
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-shell:18.8.2
    - name: gitlab-sidekiq
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-sidekiq:18.8.2
    - name: gitlab-toolbox
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-toolbox:18.8.2
    - name: gitlab-webservice
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-webservice:18.8.2
    - name: gitlab-workhorse
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-workhorse:18.8.2
    - name: gitlab-pages
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-pages:18.8.2
    - name: kubectl
      image: registry1.dso.mil/ironbank/gitlab/gitlab/kubectl:18.8.2
    - name: mc
      image: registry1.dso.mil/ironbank/opensource/minio/mc:RELEASE.2024-10-02T08-27-28Z
    - name: minio
      image: registry1.dso.mil/ironbank/opensource/minio/minio:RELEASE.2024-06-04T19-20-08Z
    - name: postgresql
      condition: upstream.postgresql.install
      image: registry1.dso.mil/ironbank/bitnami/postgres:17.4.0
    - name: ubi9
      condition: upgradeCheck.enabled
      image: registry1.dso.mil/ironbank/redhat/ubi/ubi9:9.7
    - name: gitlab-base
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-base:18.8.2
    - name: gitlab-exporter
      condition: upstream.gitlab.gitlab-exporter.enabled
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-exporter:18.8.2
    - name: bbtests
      condition: bbtests.enabled
      image: registry1.dso.mil/ironbank/big-bang/devops-tester:1.0
    - name: gitlab-mailroom
      condition: global.appConfig.incomingEmail.enabled
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-mailroom:18.8.2
    - name: gitlab-kas
      condition: global.kas.enabled
      image: registry1.dso.mil/ironbank/gitlab/gitlab/kas:18.8.2

